<!DOCTYPE html>
<html>

<head>
    <title>Learn from MEI</title>
    
    
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="container-fluid" style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
        <div class="container-fluid text-center bg-dark" style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; text-align: center; background-color: #343a40;">
            <div class="text-white py-4">
                <h1>Learn from Meiy</h1>
                <i class="text-white">"More you practice, more you learn"</i>
            </div>
        </div>
        <div class="container" style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
            <p class="py-2" style="padding-top: .5rem;">
                Hi Learner, <br> &nbsp;&nbsp;&nbsp;&nbsp; I hope this email finds you well. I’m writing to invite you to a meeting at ::time:: to discuss ::topic::. <br> The meeting will take place on Google Meet platform and will last approximately
                1-2 hours.
            </p>
            <div class="text-left">
                <p>You can join the meet by clicking the button.</p>
                <a href="https://meet.google.com/qte-qyrn-vza" class="btn btn-success" style="display: inline-block; font-weight: 400; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; color: #fff; background-color: #28a745; border-color: #28a745;">
                    <span class="px-3" style="padding-left: 1rem;">Join meet</span>
                </a>
                <br>
                <div class="py-2" style="padding-top: .5rem;">
                    <p>
                        If the button is not working, You can join the meet by clicking the below url. <br>
                        <a href="https://meet.google.com/qte-qyrn-vza">https://meet.google.com/qte-qyrn-vza</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>