<html> 

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body class="bg-datk">
    <div class="container">
        <div class="card my-5">
            <div class="card-body">
                <h1>Welcome</h1>
                <h5 class="text-muted mb-2">Here is a very simple email</h5>
                <a class="btn btn-primary" href="#">Click Me</a>
            </div>
        </div>
    </div>
</body>

</html>